@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:wght@200;300&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:ital,wght@0,200;0,300;1,500&display=swap');

:root {
    --font1: 'Lato', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(218, 144, 237, 0.719));
}

.container1 {
    width: 60vw;
    margin: auto;
}

.brand {
    font-family: var(--font2);
    font-size: 25px;
    /* font-size: 2vw; */
    text-align: center;
}

.quote {
    font-size: 40px;
    /* font-size: 3vw; */
    text-align: center;
    font-family: var(--font2);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.para {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: larger;
    /* font-size: 1.25vw; */
}

.form {
    width: 20vw;
    height: 25px;
    padding-left: 5px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    background: transparent;
}

.container1 .input-field {
    border-style: solid;
    padding-left: 10px;
    width: 30vw;
    height: 55px;
    margin: auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.container1 .input-field .btn {
    background-color: black;
    color: white;
    padding: 10px;
    padding-top: 10px;
    /* width: 6vw; */
    width: 9vw;
    height: 45px;
    border-radius: 20px;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 .terms {
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.container1 .title2 {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.container1 .image1 {
    width: 35vw;
    height: 50vh;
    display: block;
    margin: auto;
}
.container1 .grid-of-cards .card-1{
    width: 25vw;
    margin-right: 15px;
}
.container1 .grid-of-cards .card-2{
    width: 25vw;
    margin-right: 15px;

}
.container1 .grid-of-cards .card-3{
    width: 25vw;

}
.container1 .grid-of-cards {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin-bottom: 25px;
}
.container1 .grid-of-cards .grid-title{
    font-size: 22px;
}
.container1 .end-notes{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-top: 25px;
}

@media screen and (max-width:600px) {
    .container1 .input-field .btn{
        width: 70vw;
        font-size: 15px;
        display: block;
        margin: auto;
        margin-top: 2rem;
        margin-left: 1vw;

    }
    .form
    {
        border: solid;
        border-radius: 20px;
        width: 70vw;
        height: 40px;
        display: block;
        margin: auto;
    }
    .container1 .input-field{
        width: 70vw;
        border: none;
        display: contents;
    }
    .container1 .terms{
        margin-top: 5rem;
    }
    .container1 .grid-of-cards{
        display: block;
    }
    .container1 .grid-of-cards .card-1{
        display: block;
        width: 70vw;
    }
    .container1 .grid-of-cards .card-2{
        display: block;
        width: 70vw;
    }
    .container1 .grid-of-cards .card-3{
        display: block;
        width: 70vw;
    }
    .container1 .image1{
        width: 65vw;
        display: block;
        margin: auto;
    }
}